.App {
  text-align: center;
}

.App button {
  justify-items: center;
}
.App .Items {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.App .Items .Items1 {
  background-color: brown;
  min-width: 280px;
  margin-bottom: 10px;
}
.App .Items .complete {
  background-color: green;
  text-decoration: line-through;
  /* align-items: center;
  max-width: 180px; */
}
