.App {
  text-align: center;
}
.App button {
  justify-content: right;
  justify-items: right;
}

.App button {
  text-align: left;
  justify-items: center;
}
.App .Items .complete {
  /* background-color: green; */
  text-decoration: line-through;
  /* align-items: center;
  max-width: 180px; */
}
